[submodule "external/ozo"]
	path = external/ozo
	url = https://github.com/yandex/ozo
[submodule "external/tinyexpr/tinyexpr"]
	path = external/tinyexpr/tinyexpr
	url = https://github.com/codeplea/tinyexpr
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
